force-app/main/default/flows/associTION_FLOW_BATCH.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>NUMBER_COUNT</name>
        <label>NUMBER COUNT</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>NUMBERVAR</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>get_association</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_THROUGH_ASSOCIATION</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>associTION FLOW BATCH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>associTION FLOW BATCH</label>
    <loops>
        <name>LOOP_THROUGH_ASSOCIATION</name>
        <label>LOOP THROUGH ASSOCIATION</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>get_association</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_association</name>
        <label>get association</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NUMBER_COUNT</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Association__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_association</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-10-07</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NUMBERVAR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
